/** Selectores **/
:root{
    --primario-BG: rgba(0, 52, 209, 0.658);
    --secundario-BG: rgba(4, 5, 27, 0.952);
    --primario: rgb(0, 52, 209);
    --secundario: #ffd900;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #757575;
}

@font-face {
    font-family: Avenir-Book;
    src: url('/fonts/Avenir-Book.ttf');
}




/** Globales **/
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
.contenedor{
    max-width: 125rem;
    width: 80%;
    margin: 0 auto;
}
.contenedor-big{
    max-width: 180rem;
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: Avenir-Book;
}
h2,h3,h4{
    line-height: 1.2;
}
h1{
    font-size: 5.8rem;
    font-family: sans-serif;
    font-weight: bolder;
}
h2{
    font-size: 3rem;
    text-transform: uppercase;
}
h3{
    font-size: 2.5rem;
    text-transform: uppercase;
}
h4{
    font-size: 1.5rem;
    font-weight: bold;
}
.contenedor h2 {
    text-align: center;
    text-transform: uppercase;
}
img{
    max-width: 30%;
    border-radius: 50%;
}
span{
    font-weight: bold;
    color: var(--secundario);
}
.proyectos-bg span {
    color: var(--negro);
}
.header__texto span {
    color: var(--blanco);
    font-size: 8rem;
}
@media (max-width:  580px){
    .header__texto span {
        font-size: 6rem;
    }
}
hr{
    color: var(--negro);
    position: relative;
    z-index: 2;
}
textarea {
    resize: none;
}


/** Utilidades **/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
.justificar-texto {
    text-align: justify;
}
.parrafo-color {
    color: var(--primario);
    font-weight: bold;
}
.parrafo-negritas {
    font-weight: bold;
}
.texto-blanco {
    color: var(--blanco);
}
.boton:hover{
    cursor: pointer;
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
.w-100{
    width: 100%;
}



/** Header + NavBar **/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    
    background-image: linear-gradient(var(--primario-BG), var(--negro)), url('/img/Hexagon2.svg');
    height: 110rem; /* Anchura degradao */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@media (max-width: 516px){
    .header {
        height: 145rem; /* Anchura degradao */
    }
}
.contenedor-header{
    color: var(--blanco);
    text-align: center;
    position: relative;
}
.header__texto{
    padding: 1.5rem;
    margin-top: 5rem;
    line-height: 6rem;
}
.header__texto--parrafo {
    color: var(--secundario);
    margin-top: 1rem;
    line-height: 3rem;
    font-family: sans-serif;
    font-size: 2.5rem;
}
.header__texto--margin{
    margin-top: 2rem;
}
@media (max-width: 580px) {
    .header__texto--nombre {
        font-size: 4rem;
    }
    .header__texto--margin{
        font-size: 2.2rem;
    }
    .header__texto--parrafo {
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between; 
        align-items: center; 
    }
}
.logo{
    pointer-events: none;
}
@media (max-width: 1200px) {
    .barra{
        display: none;
    }
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}



/** ACERCA DE MI **/
.contenedor-acercademi {
    padding-top: 27rem;
}
@media (max-width: 390px){
    .contenedor-acercademi {
        padding-top: 36rem;
    }
}
@media (min-width: 580px) and (max-width: 763px){
    .contenedor-acercademi {
        padding-top: 30rem;
    }
}
.contenedor-acercademi .acercademi-texto {
    margin-top: 2rem;
    padding-bottom: 8rem;
}
.contenedor-acercademi img {
    position: relative;
    z-index: 2;
}
@media (min-width: 1200px) {
    .contenedor-acercademi img {
        box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
        -webkit-box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
        -moz-box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
    }
}
.acercademi-foto {
    display: block;
    margin: 0 auto;
}
@media (min-width: 1200px) { /** Min. Laptop **/
    .contenedor-acercademi {
        padding-top: 38rem;
    }
    .contenedor-acercademi img {
        position: relative;
        z-index: 2;
        float: right; /* Flotar la imagen a la izquierda */
    }
    .acercademi-foto {
        margin-left: 6rem;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .acercademi-foto {
        margin-top: 7rem;
        margin-bottom: 14rem;
    }
}
@media (min-width: 1300px) and (max-width: 1416px) {
    .acercademi-foto {
        margin-top: 5rem;
        margin-bottom: 14rem;
    }
}
.acercademi-texto {
    position: relative;
    z-index: 2;
    text-align: justify;
}





/** Mis proyectos **/
.proyectos-bg {
    position: relative;
    z-index: 2;
    background-image: url('/img/Curve_Line.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 2rem;
    padding-bottom: 10rem;
}

.proyectos-bg h2 {
    font-family: sans-serif;
    padding-bottom: 2rem;
}

.entrada-blog {
    background-color: var(--blanco);
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.74);
    -webkit-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.74);
    -moz-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.74);
    border-radius: 5rem;
    padding-bottom: 4rem;
}
.entrada-blog img {
    max-width: 100%;
    border-radius: 0%;
}
.entrada-blog p {
    text-align: center;
    padding: 0 3rem;
}

@media (max-width: 1200px) { /** Tablet **/
    .entrada-blog{
        padding-top: 1rem;
        margin-bottom: 5rem;
    }
}

@media (min-width: 1200px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
    
    .entrada-blog {
        transform: scale(1);  /* Define el tamaño inicial */
        /* Agrega la propiedad de transición */
        transition: transform 0.3s ease; /* 0.3 segundos es la duración y "ease" es la función de aceleración */
    }
    .entrada-blog:hover{
        transform: scale(1.03);
    }
    
}




/** Experiencia **/
.experiencia-bg {
    background-image: linear-gradient(var(--primario-BG), var(--secundario-BG)), url('/img/Hexagon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

@media (min-width: 1200px) {
    .experiencia-bg {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        padding-bottom: 30rem;
    }
}


.contenedor-experiencia-img{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.experiencia-bg img {
    border-radius: 4rem;
    max-width: 20%;
    
}
.img-lenguaje {
    width: 20rem;
}

.experiencia-texto {
    padding-top: 4rem;
}


/** Lenguajes **/
@media (max-width: 1199px){
    .contenedor-lenguajes{
        text-align: center;
        margin-top: 8rem;
    }
    .columna-lenguajes{
        border: solid 2px var(--negro);
        background-color: var(--blanco);
        padding: 3rem;
        margin-bottom: 3rem;
        border-radius: 2rem;
        padding-bottom: 4rem;
        box-shadow: 10px 10px 24px -14px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 24px -14px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 24px -14px rgba(0,0,0,0.75);
    }
}

@media (min-width: 1200px) {
    .contenedor-lenguajes {
        position: relative;
        z-index: 2;
        background-color: var(--blanco);
        padding: 0 3rem;
        margin-top: 85rem;
        border-radius: 3rem; /* Ajusta el valor para cambiar la cantidad de redondeo */
        box-shadow: 10px 10px 24px -14px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 24px -14px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 24px -14px rgba(0,0,0,0.75);
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Divide en tres columnas iguales */
        gap: 8rem; /* Espacio entre las columnas */
    }
    .columna-lenguajes {
        padding: 4rem 0;
        text-align: center;
        position: relative; /* Necesario para posicionar el pseudo-elemento */
    }
}
@media (min-width: 1200px) {/* Resposividad Lineas separadoras */
    .columna-lenguajes::before {
        content: "";
        height: 80%;
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 112%; /* Posicionamos la barra en la mitad de la columna */
        border-left: 1px solid #00000018; /* Estilo de la barra vertical */
    }
    /* Estilo para eliminar la barra vertical de la última columna */
    .columna-lenguajes:last-child::before {
        border-left: none;
    }
}
.contenedor h2 {
    position: relative;
    z-index: 2;
}
.contenedor-circulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    width: 9rem; /* Puedes ajustar el tamaño del círculo aquí */
    height: 9rem; /* Puedes ajustar el tamaño del círculo aquí */
    border-radius: 50%;
    background-color: var(--primario); /* Puedes cambiar el color del círculo aquí */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedor-circulo img {
    max-width: 75%;
    max-height: 75%;
}

.separador-texto {
    margin: 0;
    padding: 0;
}


/** Educacion **/
.educacion-bg {
    position: relative;
    z-index: 1;
    background-image: url("/img/Wave\ Line.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.educacion-contenedor {
    padding-bottom: 8rem
}

.educacion-bg .entrada-blog img {
    width: 70%;
}

@media (max-width: 1200px) {
    .educacion-contenedor {
        padding-bottom: 2rem
    }

    .educacion-bg .entrada-blog img {
        width: 30%;
    }
}

.educacion-bg h2 {
    padding: 3rem;
    font-family: sans-serif;
}



/** Ceritificados **/
.certificados-bg{
    background-image: linear-gradient(var(--primario-BG), var(--secundario-BG)), url('/img/Hexagon2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 12rem;
}

.certificados-bg h2{
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-family: sans-serif;
    color: var(--blanco);
}

.educacion-bg h2 {
    padding: 3rem;
    font-family: sans-serif;
}

.contenedor-certificados {
    top: 0;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    bottom: 30rem;
    color: var(--blanco);
    display: grid;
    gap: 3rem;
}

@media (min-width: 1200px) {
    .contenedor-certificados {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1px) and (max-width: 480px) {
    .logo-ext{
        display: none;
    }
}
@media (min-width: 1200px) and (max-width: 1550px) {
    .logo-ext{
        display: none;
    }
}

.contenedor-certificados h2 {
    padding: 3rem;
    font-family: Avenir-Book;
}

.contenedor-curso-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.certificados-img {
    width: 15rem;
    border-radius: 3rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
    border: solid 1px var(--blanco);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px; /* Espacio de 10px entre los elementos */
  }

.curso-titulo{
    text-decoration: underline;
}
  
.item {
    color: var(--blanco);
    border-radius: 3rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 5px 4px 5px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 5px 4px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 4px 5px 0px rgb(0, 0, 0);
    border: solid 1px var(--blanco);
    transition: transform 0.3s ease;
}

.item:hover {
    transform: scale(1.03);
}

.udemy .item {
    background-image: linear-gradient(#000000ce, #000000ce), url('/img/intro-bg.png');
}

.devtalles .item {
    background-image: linear-gradient(#3500afce, #190052ce), url('/img/intro-bg.png');
}

.logos-lenguajes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    gap: 1.2rem;
}

.logo-lenguaje {
    width: 3.5rem;
    border-radius: 0;
}

.logo-lenguaje-php {
    width: 4.5rem;
    height: 2.8rem;
    border-radius: 0;
}

.logo-lenguaje-jest {
    width: 3rem;
    border-radius: 0;
}


/** CONTACTO **/
.contacto-bg{
    background-image: url('/img/Wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 1200px) {
    .contacto-bg h1{
        font-size: 4rem;
    }
}
.formulario {
    border-radius: 3rem;
    padding: 2rem;
    border: solid 1px white;
    width: max(35rem, 100%); /*Utilizar el valor mas pequeño*/
    background-image:linear-gradient(var(--primario-BG), var(--secundario-BG)), url('/img/intro-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.74);
    -webkit-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.74);
    -moz-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.74);
}
@media (min-width: 1200px) {
    .formulario {
        width: min(45rem, 100%); /*Utilizar el valor mas pequeño*/
        transition: width 0.6s ease;  
    }
    .formulario:hover{
        width: min(60rem, 100%); /*Utilizar el valor mas pequeño*/
    }
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--blanco);
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea{
    height: 18rem;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.enviar .boton{
    width: 100%;
}

.boton{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 5rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 100%;
    text-align: center;
    border: none;
}

.contenedor-contacto {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 5rem;
    gap: 15rem;
}

.item-contacto h1 {
    font-family: Verdana;
    font-weight: 100;
}

.contenedor-formas-contacto {
    margin-bottom: 10rem;
}

.contenedor-contacto-item {
    display: flex;
    justify-content: center;
}

.forma-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.forma-item {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem 20px;
    margin: 2rem 0;
    border: 2px solid #ccc;
    border-radius: 1.5rem;
    background-color: var(--blanco);
    width: 35rem;
    transition: background-color 0.5s ease, color 0.3s ease, border-color 0.5s ease, width 0.5s ease;
}

.forma-item:hover{
    background-color: var(--primario);
    border-color: var(--negro);
    color: var(--blanco);
    width: 40rem;
}

@media (max-width: 1200px) {
    .contenedor-contacto {
        text-align: center;; 
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .forma-item {
        margin: 1.2rem 0;
    }
}


.forma-item img {
    border-radius: 0;
    width: 5rem;
}


/** Footer **/
.footer-bg {
    margin: 0;
    color: var(--blanco);
    background-image: linear-gradient(rgba(15, 47, 143, 1), #000000cb), url('/img/Hexagon2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-logo {
    margin-top: 10rem;
    width: 15rem;
}

.footer-bg h3 {
    text-transform: none;
    margin: 0;
    font-size: 2.1rem;
}

.footer-bg p {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5rem;
    font-family: Verdana;
    padding-bottom: 10rem;
}

.redes-sociales {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.redes-sociales img {
    border-radius: 0;
    width: 5rem;
    margin: 0 1.2rem;
    transition: transform 0.3s ease;
}

.redes-sociales img:hover {
    transform: scale(1.2);
}

