/** Selectores **/
:root{
    --primario: #0f4afdce;
    --secundario: #ffd900;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #e1e1e1;
}

@font-face {
    font-family: Avenir-Book;
    src: url('/fonts/Avenir-Book.ttf');
}




/** Globales **/
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
.contenedor{
    max-width: 125rem;
    width: 80%;
    margin: 0 auto;
}
.contenedor-mini{
    max-width: 100rem;
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: Avenir-Book;
}
h2,h3,h4{
    line-height: 1.2;
}
h1{
    font-size: 5.8rem;
    font-family: sans-serif;
    font-weight: bolder;
}
h2{
    font-size: 3rem;
    text-transform: uppercase;
}
h3{
    font-size: 2.5rem;
    text-transform: uppercase;
}
h4{
    font-size: 1.5rem;
}
.contenedor h2 {
    text-align: center;
    text-transform: uppercase;
}
img{
    max-width: 30%;
    border-radius: 50%;
}
.acercademi-texto span{
    font-weight: bold;
    color: var(--secundario);
}
.experiencia-bg span{
    font-weight: bold;
    color: var(--secundario);
}
.header__texto span {
    font-size: 8rem;
}
@media (max-width: 550px){
    .header__texto span {
        font-size: 5.8rem;
    }
}
hr{
    color: var(--negro);
    position: relative;
    z-index: 2;
}


/** Utilidades **/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
.justificar-texto {
    text-align: justify;
}
.parrafo-color {
    color: var(--primario);
    font-weight: bold;
}
.parrafo-negritas {
    font-weight: bold;
}
.texto-blanco {
    color: var(--blanco);
}




/** Header + NavBar **/
@media (min-width: 8px) {
    .header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}
.header {
    background-image: linear-gradient(#0f4afda3, rgb(0, 0, 0)), url('/img/banner-header.avif');
    height: 110rem; /* Anchura degradao */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@media (max-width:516px){
    .header {
        height: 145rem; /* Anchura degradao */
    }
}
.contenedor-header{
    color: var(--blanco);
    text-align: center;
    position: relative;
}
.header__texto{
    padding: 1.5rem;
    margin-top: 5rem;
    line-height: 6rem;
}
.header__texto--parrafo {
    color: var(--secundario);
    margin-top: 1rem;
    line-height: 3rem;
    font-family: sans-serif;
    font-size: 2.5rem;
}
.header__texto--margin{
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .header__texto{
        margin-top: 2rem; /* Posicion del titulo */
    }
}

@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between; 
        align-items: center; 
    }
}
.logo{
    pointer-events: none;
}
@media (max-width: 1024px) {
    .barra{
        display: none;
    }
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}



/** ACERCA DE MI **/
.contenedor-acercademi {
    padding-top: 28rem;
}
@media (max-width: 420px){
    .contenedor-acercademi {
        padding-top: 40rem;
    }
}
@media (min-width: 420px) and (max-width:515px){
    .contenedor-acercademi {
        padding-top: 37rem;
    }
}
@media (min-width: 734px) and (max-width:768px){
    .contenedor-acercademi {
        padding-top: 28rem;
    }
}
@media (min-width: 768px) and (max-width:1024px){
    .contenedor-acercademi {
        padding-top: 22rem;
    }
}
.contenedor-acercademi .acercademi-texto {
    margin-top: 2rem;
    padding-bottom: 8rem;
}
.contenedor-acercademi img {
    position: relative;
    z-index: 2;
}
.acercademi-foto {
    display: block;
    margin: 0 auto;
}
@media (min-width: 1025px) { /** Min. Laptop **/
    .contenedor-acercademi {
        padding-top: 38rem;
    }
    .contenedor-acercademi img {
        position: relative;
        z-index: 2;
        float: right; /* Flotar la imagen a la izquierda */
    }
    .acercademi-foto {
        margin-left: 6rem;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    .acercademi-foto {
        margin-top: 10rem;
        margin-bottom: 14rem;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .acercademi-foto {
        margin-top: 7rem;
        margin-bottom: 14rem;
    }
}
@media (min-width: 1300px) and (max-width: 1416px) {
    .acercademi-foto {
        margin-top: 5rem;
        margin-bottom: 14rem;
    }
}
.acercademi-texto {
    position: relative;
    z-index: 2;
    text-align: justify;
}





/** Mis proyectos **/
.proyectos-bg {
    position: relative;
    z-index: 2;
    background-image: url('/img/Curve_Line.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 2rem;
    padding-bottom: 10rem;
}

.proyectos-bg h2 {
    font-family: sans-serif;
    padding-bottom: 2rem;
}


.boton-repo {
    display: inline-block;
    background-color: var(--negro);
    color: white;
    padding: 10px 15%;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4rem;
}

.boton-repo:hover {
    background-color: orange;
}
.entrada-blog {
    background-color: var(--blanco);
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.74);
    -webkit-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.74);
    -moz-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.74);
    border-radius: 5rem;
    padding-bottom: 4rem;
}
.entrada-blog img {
    max-width: 100%;
    border-radius: 0%;
}

@media (max-width: 1025px) { /** Tablet **/
    .entrada-blog img {
        max-width: 80%;
    }
    .entrada-blog{
        padding-top: 1rem;
        margin-bottom: 5rem;
    }
}

@media (min-width: 1025px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
    
    .entrada-blog {
        transform: scale(1);  /* Define el tamaño inicial */
        /* Agrega la propiedad de transición */
        transition: transform 0.3s ease; /* 0.3 segundos es la duración y "ease" es la función de aceleración */
    }
    .entrada-blog:hover{
        transform: scale(1.03);
    }
    
}




/** Experiencia **/
.experiencia-bg {
    background-image: linear-gradient(#0338d6ce, #020e33ce), url('/img/intro-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 4rem;
    padding-bottom: 30rem;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.experiencia-bg img {
    border-radius: 4rem;
    display: block;
    margin: 0 auto;
    max-width: 25%;
    padding-bottom: 2rem;
}



/** Lenguajes **/
@media (max-width: 1025px){
    .contenedor-lenguajes{
        padding-top: 80rem;
        text-align: center;
    }
    .columna-lenguajes{
        border: solid 2px var(--negro);
        padding: 3rem;
        margin-bottom: 3rem;
        border-radius: 2rem;
        padding-bottom: 4rem;
        box-shadow: 10px 10px 0px -3px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 0px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 0px -3px rgba(0,0,0,0.75);
    }
}
@media (min-width: 1025px) {
    .contenedor-lenguajes {
        background-color: var(--blanco);
        padding: 0 3rem;
        margin-top: 85rem;
        border-radius: 3rem; /* Ajusta el valor para cambiar la cantidad de redondeo */
        box-shadow: 10px 10px 24px -14px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 24px -14px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 24px -14px rgba(0,0,0,0.75);
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Divide en tres columnas iguales */
        gap: 8rem; /* Espacio entre las columnas */
    }
    .columna-lenguajes {
        padding: 4rem 0;
        text-align: center;
        position: relative; /* Necesario para posicionar el pseudo-elemento */
    }
}
@media (min-width: 1200px) {/* Resposividad Lineas separadoras */
    .columna-lenguajes::before {
        content: "";
        height: 80%;
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 112%; /* Posicionamos la barra en la mitad de la columna */
        border-left: 1px solid #00000018; /* Estilo de la barra vertical */
    }
    /* Estilo para eliminar la barra vertical de la última columna */
    .columna-lenguajes:last-child::before {
        border-left: none;
    }
}
.contenedor-lenguajes {
    position: relative;
    z-index: 2;
}
.contenedor h2 {
    position: relative;
    z-index: 2;
}
.contenedor-circulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    width: 9rem; /* Puedes ajustar el tamaño del círculo aquí */
    height: 9rem; /* Puedes ajustar el tamaño del círculo aquí */
    border-radius: 50%;
    background-color: var(--primario); /* Puedes cambiar el color del círculo aquí */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedor-circulo img {
    max-width: 75%;
    max-height: 75%;
}

.separador-texto {
    margin: 0;
    padding: 0;
}


/** Educacion **/
.educacion-bg {
    position: relative;
    z-index: 1;
    background-image: url('/img/Curve_Line2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 2rem;
    bottom: 35rem;
}

.educacion-contenedor {
    padding-top: 35rem;
}

.educacion-bg .entrada-blog img {
    width: 70%;
}

.educacion-bg h2 {
    padding: 3rem;
    font-family: sans-serif;
}



/** Ceritificados **/
.contenedor-certificados {
    position: relative;
    z-index: 1;
    bottom: 30rem;
}

.contenedor-certificados  h2 {
    padding: 3rem;
    font-family: sans-serif;
}

.certificados-img {
    width: 27rem;
    border-radius: 5rem;
}

